body {
  background: #0099ff;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.loginContainer {
  padding: 2rem;
  width: 80%;
  max-width: 50rem;
  background: #fff;
  border: 0.1rem solid #dedede;
  text-align: center;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

.form {
  display: flex;
  flex-direction: column;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  margin: 0 0 2rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #dedede;
  background: #f2f2f2;
}

.form input[type="submit"] {
  background: #0099ff;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  margin: 0 0 1rem 0;
}
