mixin createPostForm(userLoggedIn)
  .postFormContainer 
    .userImageContainer 
      img(src=userLoggedIn.profilePicture, alt="User's Profile Picture")
    .textareaContainer 
      textarea#postTextarea(placeholder="What's happening?")
      .buttonsContainer 
        button#submitPostButton(disabled="") Post